body {
    background-image: url(image2.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
    padding: 5em;
    text-align: center;
}

img {
    cursor: pointer;
}

.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.startBox h2 {
    color: white;
    text-align: center;
}

.startBox img {
    height: 200px;
    margin-top: -18px;
    width: 200px;
}

.startBox p {
    color: white;
}

.startBox button {
    background-color: #5BBCBB;
    color: black;
    font-size: 20px;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    cursor: pointer;
}

.startBox button:focus {
    outline: none;

}

.startBox button img {
    height: 35px;
    width: 35px;
    margin-top: 2px;
}

.startBox button span {
    color: white;
    font-size: 20px;
    padding-left: 15px;
}

#tens1 img {
    float: left;
    height: 180px;
    display: none;
}
#ones1 #right-8, #right-5, #right-9 {
    height: 140px !important;
}
#tens1 .drag {
    display: block !important;
    height: 50px;
    text-align: center;
}
#ones1 .drag {
    display: block !important;
    height: 50px;
    text-align: center;
}
#ones1 img {
    float: right;
    display: none;
}
.question1 {
    display: none;
}

.question1 h4 {
    color: white;
}

.question1 img {
    height: 50px;
    margin: 10px;
}

#tensDiv {
    background-color: #A71720;
    height: 200px;
    width: 150px;
    margin: auto;
    border-radius: 15px;
}

#onesDiv {
    background-color: #237BA8;
    height: 200px;
    width: 150px;
    margin: auto;
    border-radius: 15px;
}

.numbers img {
    height: 50px;
    margin: 10px 10px 0 10px;

}

.message h3 {
    color: white;
    display: none;
}
